---
import getMenuItems from "../../../api/getMenuItems";
import type { Category, MenuItem } from "../../../types";
import TwoInArowMenuItem from "./TwoInArowMenuItem.astro";

interface Props {
  category: Category;
}

const { category } = Astro.props;

// const menuItems = await getMenuItems({ category: category.id });

const menuItems: MenuItem[] = [
  {
    id: 1,
    category: 1,
    category_name: "category",
    name: "Чудо Йудо",
    description: "description",
    price: "239",
    available: true,
    image: "image",
  },
  {
    id: 1,
    category: 1,
    category_name: "category",
    name: "Чудо Йудо",
    description: "description",
    price: "239",
    available: true,
    image: "image",
  },
];
---

<div class="grid grid-cols-2 gap-4 place-content-center">
  {menuItems.map((item) => <TwoInArowMenuItem item={item} />)}
</div>
