---
import type { MenuItem } from "../../../types";
import { formatNumber } from "../../../utils";

interface Props {
  item: MenuItem;
}

const { item } = Astro.props;

const price = formatNumber(item.price);
---

<article class="flex flex-col items-center">
  <img src={item.image} alt={item.name} />
  <h2 class="mt-2 text-[20px] md:text-[28px] font-bold">{item.name}</h2>

  <div class="bg-category rounded-lg h-[1px] w-full my-2 max-w-[136px]"></div>

  <p class="text-[18px] md:text-[25px] font-semibold">{price}</p>
</article>
