---
import getMenuItems from "../../../api/getMenuItems";
import type { Category, MenuItem } from "../../../types";
import TwoInArowMenuItem from "./TwoInArowMenuItem.astro";

interface Props {
  category: Category;
}

const { category } = Astro.props;

const menuItems = await getMenuItems({ category: category.id });
---

<div class="grid grid-cols-2 gap-4 place-content-center">
  {menuItems.map((item) => <TwoInArowMenuItem item={item} />)}
</div>
