---
import getMenuItems from "../../../api/getMenuItems";
import type { Category, MenuItem } from "../../../types";
import TwoInArowMenuItem from "./TwoInArowMenuItem.astro";

interface Props {
  category: Category;
}

const { category } = Astro.props;

const { searchParams } = Astro.url;

const menuItems = await getMenuItems(
  { category: category.id },
  searchParams.get("lang") ?? "ru"
);
---

<div class="grid grid-cols-2 gap-y-4 gap-x-8 md:gap-4 place-content-center">
  {menuItems.map((item) => <TwoInArowMenuItem item={item} />)}
</div>
