services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PUBLIC_API_URL=http://5.59.232.150:8082
    restart: unless-stopped

    dns:
      - 8.8.8.8
      - 8.8.4.4
