---
import type { Category } from "../../types";
import CategoryButton from "./CategoryButton.astro";

interface Props {
  categories: Category[];
}

const { categories } = Astro.props;
---

<div class="sticky top-0 z-30 bg-secondary">
  <div
    class="flex overflow-x-auto overflow-y-hidden p-4 gap-x-4 gap-y-2 w-full scrollbar-hidden"
  >
    {
      categories.map((category) => (
        <CategoryButton link={`#category-${category.id}`}>
          {category.name}
        </CategoryButton>
      ))
    }
  </div>
</div>
