---

---

<button
  class="px-4 md:pb-1 outline-none focus:outline-none bg-transparent border-2 border-white rounded-[25px] text-white text-[18px] md:text-[26px] text-nowrap hover:opacity-80 duration-300"
>
  <slot />
</button>
