---
interface Props {
  link: string;
}

const { link } = Astro.props;
---

<a
  href={link}
  class="inline-block text-center px-4 pb-1 outline-none focus:outline-none bg-transparent border-2 border-white rounded-[25px] text-white text-[18px] md:text-[26px] whitespace-nowrap hover:opacity-80 duration-300"
>
  <slot />
</a>

<script is:inline>
  function scrollToHashElement() {
    if (window.location.hash) {
      const el = document.querySelector(window.location.hash);
      if (el) {
        el.scrollIntoView({ behavior: "smooth" });
      }
    }
  }

  window.addEventListener("load", scrollToHashElement);
  window.addEventListener("hashchange", scrollToHashElement);
</script>
