---
import Category from "../components/Category.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<style>
  .background-wrapper {
    background-image: url("../assets/background-image.png");
    background-size: 105%;
    background-repeat: repeat-y;
  }
</style>

<RootLayout>
  <div class="background-wrapper bg-opacity-90">
    <Category title="Фирменные завтраки" color="#FF6868" time="17:00" />
    <Category title="Сладкие завтраки" color="#FF6868" time="17:00" />
    <Category title="Салаты" color="#FF6868" time="17:00" />
  </div>
</RootLayout>
