---
import RootLayout from "../layouts/RootLayout.astro";
---

<style>
  .background-wrapper {
    background-image: url("../assets/background-image.png");
    background-size: auto 110%;
    background-repeat: repeat-y;
  }
</style>

<RootLayout>
  <div class="background-wrapper bg-opacity-90">
    <section class="min-h-screen"></section>
  </div>
</RootLayout>
