---
import getCategories from "../api/getCategories";
import { CategoryType } from "../types";

import HeaderSection from "../components/HeaderSection.astro";
import Menu from "../components/Menu.astro";

const primary = "#C2813D";
const secondary = "#113728";
const category = "#FF6868";
const muted = "#363434";

const { searchParams } = Astro.url;

const categories = await getCategories();

const menus = categories.filter(
  (category) => category.category_type === CategoryType.MENU
);

const activeMenu =
  categories.find((category) => category.slug === searchParams.get("menu")) ||
  menus?.[0] ||
  categories[0];
---

<style is:global define:vars={{ primary, secondary, category, muted }}>
  @import url(https://db.onlinewebfonts.com/c/06b73c421b7c269c7a0cb40df0daba21?family=FuturaDemiC);

  @tailwindcss base;
  @tailwindcss components;
  @tailwindcss utilities;

  @font-face {
    font-family: "FuturaDemiC";
    src: url("https://db.onlinewebfonts.com/t/06b73c421b7c269c7a0cb40df0daba21.eot");
    src:
      url("https://db.onlinewebfonts.com/t/06b73c421b7c269c7a0cb40df0daba21.eot?#iefix")
        format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/06b73c421b7c269c7a0cb40df0daba21.woff2")
        format("woff2"),
      url("https://db.onlinewebfonts.com/t/06b73c421b7c269c7a0cb40df0daba21.woff")
        format("woff"),
      url("https://db.onlinewebfonts.com/t/06b73c421b7c269c7a0cb40df0daba21.ttf")
        format("truetype"),
      url("https://db.onlinewebfonts.com/t/06b73c421b7c269c7a0cb40df0daba21.svg#FuturaDemiC")
        format("svg");
  }

  body {
    font-family:
      FuturaDemiC Regular,
      sans-serif;

    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .background-wrapper {
    background-image: url("../assets/background-image.png");
    background-size: 105%;
    background-repeat: repeat-y;
  }

  .background {
    background-image: url("../assets/hero-background.png");
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Social Coffee</title>
  </head>
  <body class="overflow-x-hidden">
    <HeaderSection categories={activeMenu.subcategories} menuOptions={menus} />
    <main>
      <Menu categories={activeMenu.subcategories} />
    </main>
  </body>
</html>
