---
import CategoryButton from "./CategoryButton.astro";
---

<div
  class="flex items-center w-full py-6 px-4 scrollbar-hidden space-x-4 overflow-x-auto"
>
  <CategoryButton>Фирменные завтраки</CategoryButton>
  <CategoryButton>Сладкие завтраки</CategoryButton>
  <CategoryButton>Салаты</CategoryButton>
  <CategoryButton>Боулы</CategoryButton>
  <CategoryButton>Фирменные брускеты</CategoryButton>
</div>
