---
import MenuButton from "./MenuButton.astro";
import CategoryCarousel from "./CategoryCarousel.astro";
---

<style>
  .background {
    background: url("/src/assets/hero-image-mobile.png");
    background-position: center;
    background-size: 125%;
    background-repeat: no-repeat;
  }
</style>

<section class="min-h-screen bg-secondary">
  <div class="flex flex-col justify-end min-h-screen space-y-12">
    <div class="flex flex-col items-center justify-center space-y-20 h-full">
      <div class="flex flex-col items-center space-y-12"></div>

      <div class="flex flex-col items-center space-y-4">
        <MenuButton>МЕНЮ</MenuButton>
        <MenuButton>БАР</MenuButton>
        <MenuButton>ДЕТСКОЕ МЕНЮ</MenuButton>
      </div>
    </div>

    <CategoryCarousel />
  </div>
</section>
