---
import type { Category as CategoryType } from "../types";
import Category from "./Category/Category.astro";

interface Props {
  categories: CategoryType[];
}

const { categories } = Astro.props;
---

<style>
  .category-background {
    background-image: url("../assets/background-image.png");
  }
</style>

<div class="min-h-screen w-full category-background">
  <div class="lg:mx-[15%] xl:mx-[25%]">
    {categories.map((category) => <Category category={category} />)}
  </div>
</div>;
