---
import type { ReactNode } from "react";

interface Props {
  isActive: boolean;
  link: string;
}

const { link, isActive } = Astro.props;
---

<a
  href={link}
  class={`text-secondary text-[24px] md:text-[40px] uppercase cursor-pointer ${
    isActive ? "font-extrabold" : "font-extralight"
  }`}
>
  <slot />
</a>
