---
import { formatNumber } from "../utils";

interface Props {
  volume: string;
  price: string;
  isBar: boolean;
  boldPrice?: boolean;
}

const { volume, price, isBar, boldPrice } = Astro.props;
---

<p class="flex items-center space-x-2">
  {volume && <span class="text-[16px] md:text-[25px]">{volume}</span>}
  {
    volume && (
      <span
        class={`block bg-category w-[6px] h-[6px] md:w-2 md:h-2 rounded-full ${isBar && "bg-categorySecondary"}`}
      />
    )
  }
  <span class={`${boldPrice ? "font-semibold" : ""} text-[16px] md:text-[25px]`}
    >{formatNumber(price)}</span
  >
</p>
