---
import { formatNumber } from "../utils";

interface Props {
  volume: string;
  price: string;
  isBar: boolean;
  boldPrice?: boolean;
}

const { volume, price, isBar, boldPrice } = Astro.props;
---

<p class="flex items-center space-x-2">
  <span>{volume}</span>
  <span
    class={`block bg-category w-2 h-2 rounded-full ${isBar && "bg-categorySecondary"}`}
  ></span>
  <span class={boldPrice ? "font-semibold" : ""}>{formatNumber(price)}</span>
</p>
