---
import getMenuItems from "../../../api/getMenuItems";
import type { Category, MenuItem } from "../../../types";
import TextBasedMenuItem from "./TextBasedMenuItem.astro";

interface Props {
  category: Category;
}

const { category } = Astro.props;

const menuItems = await getMenuItems({ category: category.id });
---

<div class="space-y-1">
  {menuItems.map((item) => <TextBasedMenuItem item={item} />)}
</div>
