---
import type { MenuItem } from "../../../types";
import { formatNumber } from "../../../utils";

interface Props {
  item: MenuItem;
}

const { item } = Astro.props;

const searchParams = Astro.url.searchParams;

const isBar = searchParams.get("menu") === "bar";

const price = formatNumber(item.price);
---

<article class="flex items-center justify-between text-[18px] md:text-[25px]">
  <p>
    {item.name}
  </p>
  <p class="flex items-center space-x-2">
    <span>{item.volume}</span>
    <span
      class={`block bg-category w-2 h-2 rounded-full ${isBar && "bg-categorySecondary"}`}
    ></span>
    <span>{price}</span>
  </p>
</article>
