---
import HeaderSection from "../components/HeaderSection.astro";
const primary = "#C2813D";
const secondary = "#073723";
---

<style is:global define:vars={{ primary, secondary }}>
  @tailwindcss base;
  @tailwindcss components;
  @tailwindcss utilities;

  @font-face {
    font-family: "FuturaDemiC Regular", sans-serif;
    src: url("/fonts/FuturaDemiC Regular.otf");
  }

  body {
    font-family:
      FuturaDemiC Regular,
      sans-serif;
  }

  ::-webkit-scrollbar {
    display: none;
  }
</style>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Social Coffee</title>
  </head>
  <body class="overflow-x-hidden">
    <main>
      <HeaderSection />
      <slot />
    </main>
  </body>
</html>
